<div>
    <md-content>
        <md-list flex>
            <md-list-item ng-if="bl.articles" ng-repeat="article in bl.articles track by $index">
                <md-card>
                  <div layout='row'>
                    <md-card-title>
                        <md-card-title-media flex='40' ng-if="article.media.source">
                            <figure>
                                <img ng-src="app/{{article.media.source}}" alt="article image">
                            </figure>
                        </md-card-title-media>
                        <md-card-title-text flex='60'>
                            <h2>{{article.title}}</h2>
                            <address>{{article.author}}</address>
                            <time datetime="{{article.datePublished}}">{{article.datePublished }}</time>
                            <p>{{article.article}}</p>
                        </md-card-title-text>
                    </md-card-title>
                    </div>
                    <md-button class="md-raised md-primary default-button--rightAlign" ng-click="bl.likeArticle(article.id)">{{bl.isLiked(article.id) ? 'Liked' : 'Like'}}</md-button>
                </md-card>
            </md-list-item>
        </md-list flex>
    </md-content>
</div>
