<div>

  <md-card flex layout-padding layout='column'>
        <md-input-container>
            <label>User</label>
            <input type='text' required ng-model="l.user"/>
        </md-input-container>
        <md-input-container>
            <label>Password</label>
            <input type='password' required ng-model="l.password"/>
        </md-input-container>
        <md-input-container>
          <md-button class="md-raised md-primary" ng-click='l.login()'> Log in</md-button>
        </md-input-container>
    </md-card>

</div>
