<div>
    <md-content>
        <md-card>
            <div layout='row'>
                <md-card-title>
                    <md-card-title-text flex='60'>
                        <h2>Preferences</h2>
                    </md-card-title-text>
                </md-card-title>
                <md-list flex>
                    <md-list-item ng-repeat="item in u.preferences track by $index">
                        <md-checkbox ng-checked="u.findPrefence(item)" ng-click="u.selectPreference(item)" aria-label="preference checkbox" value={{item}}>
                        </md-checkbox>
                        {{item}}
                    </md-list-item>
                </md-list>
            </div>
        </md-card>
        <md-card ng-if="u.menu">
            <div layout='row'>
                <md-card-title>
                    <md-card-title-text flex='60'>
                        <h2>Menu</h2>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content flex>
                    <md-radio-group ng-model="u.order" ng-click="u.selectDish()">
                        <md-radio-button ng-repeat="dish in u.menu track by $index" name="dishes" ng-value="dish.id">
                            {{::dish.name}}{{dish.id}}
                        </md-radio-button>
                    </md-radio-group>
                </md-card-content>
            </div>
        </md-card>
    </md-content>
</div>
