<div>
    <md-content>
        <md-card>
            <div layout='row'>
                <md-card-title>
                    <md-card-title-text flex='60'>
                        <h2>Preferences</h2>
                    </md-card-title-text>
                </md-card-title>
            <md-list flex>{{u.preferences}}
                <md-list-item ng-repeat="item in u.preferences track by $index">
                  <md-checkbox ng-checked="u.findPrefence(item)" ng-click="u.selectPreference(item)" aria-label="preference checkbox" value={{item}}>
                  </md-checkbox>
                  {{item}}                  
                </md-list-item>
            </md-list>
          </div>
        </md-card>
    </md-content>
</div>
