img {
  max-width: 100%;
  height: auto;
}

.default-button--rightAlign {
  max-width: 10rem;
  align-self: flex-end;
}
.default-button--rightAlign {
  max-width: 10rem;
  align-self: flex-end;
}
img {
  max-width: 100%;
  height: auto;
}